<%- include('header') %>
<div class="site-error">
    <h2><%= title %></h2>
    <p>Page not found.</p>
    <p>The above error occurred while the Web server was processing your request.</p>
    <p>Please contact us if you think this is a server error. Thank you.</p>
</div>
<%- include('footer') %>
