<%- include('../header') %>

<% if (list.length) { %>
<h1>Categories</h1>
<div class="terms-list">
    <% list.forEach(function(val) { %>
    <button type="button" class="btn btn-primary">
        <a href="<%= `/category/${val.slug}` %>"><%= val.title %></a>
    </button>
    <% }) %>
</div>
<% } %>

<%- include('../footer') %>